---
layout: page
title: Archive 
permalink: /archive/
---

<section id="archive">
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if year != nyear %}
      {% if forloop.index != 1 %}</ul>{% endif %}
      <h3 class="sub-header">{{ post.date | date: '%Y' }}</h3>
    {% endif %}
<ul class="past">
  <li><span class="time">{{ post.date | date: "%d %b "}}</span><a href="{{ post.url }}">{{ post.title }}</a></li>
</ul>
{% endfor %}
</section>
