<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <!-- This enables using #disqus_thread tag to display comment count. -->
    <!-- ex: <a href="{{ site.url }}{{ page.url }}#disqus_thread">0 Comments</a> -->
    <!-- or: <a href="{{ site.url }}{{ post.url }}#disqus_thread">0 Comments</a> -->
    <script id="dsq-count-scr" src="//wnduan.disqus.com/count.js" async></script>
  </body>

</html>
